body {
    background: #fefefe;

}
section {
        background: #fcfafa;

}

h1 {
    color: #545863;

} 
p {
    color: #F96E46;

}
h2{
    color: #a81919;

}
.hotpink-header { 
    color:hotpink;
 }

a {
    color: #e91969
}

     nav a {
         color: #e29e0b
     }